.popupC__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.popupC__popup {
  width: 100%;
  max-width: 20rem;
  padding: 10px;
  background: var(--color-primary);
  min-height: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  display: grid;
  grid-template-rows: 30px 5fr 40px;
}
.popupC__popup-closeBtn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
